.blogs {
  position: absolute;
  max-height: 91vh;
  top: 3vh;
  left: 20vw;
  width: 50vw;
  z-index: 0;
}

.blog-toggle {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
  position: relative;
  z-index: -1;
}

.blog-layout > img {
  margin: 0 0.5rem;
  opacity: 0.3;
  height: 25px;
  transition: opacity 0.2s ease;
}

.blog-layout > img.active {
  opacity: 1;
}

.blog-layout > img:hover {
  opacity: 1;
}

.filter-wrap {
  display: inline-block !important;
  position: relative;
  padding: 0 5px;
}

.filter-aligner {
  display: flex;
  align-items: center;
}

.filter-aligner > img {
  margin-left: 5px;
}

.filter-aligner > span {
  font-size: 1.1rem !important;
}

.blog-topics {
  position: relative;
}

.blog-topics > span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.topics {
  position: absolute;
  padding: 0;
  list-style: none;
  box-shadow: 0 5px 5px -2px rgba(22, 31, 56, 0.3);
  height: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.topics > li {
  padding: 0.7rem;
  width: 100px;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  z-index: 50;
}

.topics > li.selected {
  background-color: rgba(210, 208, 213, 0.2);
  color: rgba(0, 0, 0, 1);
}

.topics > li:hover {
  background-color: rgba(210, 208, 213, 0.2);
  color: rgba(0, 0, 0, 1);
}
