.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.book {
  flex: 0.45;
}

.book > video {
  height: 50vh;
}

.contac-exit > img {
  padding: 1rem;
}

.contact-content {
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 1600px;
  justify-content: center;
}

.contact-text {
  flex: 0.55;
}

.contact-header > h1 {
  margin-bottom: 2vh;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: 1.5px;
}

.contact-header > p,
.contact-email > p,
.contact-socials > p {
  opacity: 0.8;
}

.contact-email {
  width: 100%;
  margin-top: 13vh;
}

.contact-email > h2 {
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.contact-email > p,
.contact-socials > p {
  margin-bottom: 3vh;
}

.contact-socials {
  margin-top: 5rem;
  width: 100%;
}

.contact-socials > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.contact-socials > ul > li {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 4rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
  .contact {
    top: 10vh;
    transform: translate(-50%, 0);
  }

  .book > video {
    height: 40vh;
  }
  .contact-content {
    flex-direction: column;
  }

  .contact-header {
    display: none;
  }

  .contact-email {
    margin-top: 10vh;
    text-align: center;
  }

  .contact-socials {
    margin-top: 5vh;
    text-align: center;
  }

  .contact-socials > p,
  .contact-email > p {
    margin-bottom: 1vh;
  }

  .contact-socials > ul {
    justify-content: space-between;
  }

  .contact-email > h2,
  .contact-socials > ul > li {
    font-size: calc(0.9rem + 1vw);
    margin: 0;
  }

  .contact-text {
    margin: 0;
  }

  .contact-header {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 800px) {
}
