:root {
  --yellow: #f2da87;
  --white: #ffffff;
  --cursor-ring: #ffffff;
  --bg: #ffffff;
  --normal-text-color: black;
  --blog-text: 22px;
  --blog-title-text: 36px;
  --blog-subtitle-text: 26px;
}

body {
  cursor: url(./assets/white-cursor.svg), default;
  max-height: 100vh !important;
  overflow: hidden;
  background-color: var(--bg);
}

.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
}

.landing-z {
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease;
}

.white-icon {
  position: absolute;
  top: 3rem;
  left: 4rem;
  height: 50px;
}

.sound-icon {
  position: absolute;
  top: 3.8rem;
  left: 6.5rem;
  opacity: 1;
  height: 40px;
  transition: all 0.5s ease;
  padding: 10px;
  z-index: 5;
}

.sound-icon.on {
  cursor: url(./assets/close-sound.svg), default !important;
}

.resizer {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #f2da87;
  z-index: 5;
  display: grid;
  place-content: center;
}

.resizer > p {
  font-weight: 550;
  font-size: 1.4rem;
}

.static-link {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  z-index: 5;
}

.say-hi {
  top: 5vh;
  right: 5vh;
  cursor: url(./assets/hand.svg), default !important;
  color: var(--normal-text-color);
}

.say-hi:hover::after {
  content: "don't be shy";
  position: absolute;
  left: -130%;
  color: var(--normal-text-color);
  transition: all 0.3s ease;
  animation: link-animation 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards running;
}

.portfolio {
  bottom: 5vh;
  left: 5vh;
  cursor: url(./assets/left-arrow.svg), default !important;
}

.portfolio > a {
  cursor: url(./assets/left-arrow.svg), default !important;
  text-decoration: none;
  color: var(--normal-text-color);
}

.portfolio:hover::after {
  content: "view my work";
  position: absolute;
  right: -110%;
  animation: link-animation 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards running;
  color: var(--normal-text-color);
}

.github {
  bottom: 5vh;
  right: 5vh;
  cursor: url(./assets/right-arrow.svg), default !important;
}

.github > a {
  cursor: url(./assets/right-arrow.svg), default !important;
  text-decoration: none;
  color: var(--normal-text-color);
}

.github:hover::after {
  content: "view my code";
  position: absolute;
  left: -130%;
  transition: all 0.3s ease;
  animation: link-animation 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards running;
  color: var(--normal-text-color);
}

.cursor:before {
  content: "";
  position: absolute;
  top: -22px;
  left: -22px;
  display: block;
  width: 60px;
  height: 60px;
  transform: scale(1);
  background: transparent;
  border: 2px solid var(--cursor-ring);
  transition: border 0.3s ease;
  border-radius: 50%;
  z-index: 10;
}

.socials {
  position: absolute;
  top: 38vh;
  left: 2vw;
  z-index: 5;
}

.linkedin,
.insta,
.copy-link {
  height: 35px;
  width: 35px;
  border: 2px solid var(--normal-text-color);
  opacity: 0.2;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.App.dark .insta {
  background: url(./assets/dark-insta.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.App.dark .insta:hover {
  background: url(./assets/insta-yellow.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.insta {
  background: url(./assets/insta.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.insta:hover {
  background: url(./assets/insta-yellow.svg) no-repeat;
  background-position: 50%;
  opacity: 1;
}

.App.dark .copy-link {
  background: url(./assets/dark-link-icon.svg) no-repeat;
  background-position: 50%;
}

.App.dark .copy-link:hover {
  background: url(./assets/copy-link-yellow.svg) no-repeat;
  background-position: 50%;
  opacity: 1;
}

.copy-link {
  background: url(./assets/link.svg) no-repeat;
  background-position: 50%;
}

.copy-link.clicked:after {
  content: "copied to clipboard";
  position: absolute;
  top: 40%;
  right: -300%;
  color: var(--normal-text-color);
  font-size: 10px;
  animation: link-animation 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards running;
}

.copy-link:hover {
  background: url(./assets/copy-link-yellow.svg) no-repeat;
  background-position: 50%;
  opacity: 1;
}

.App.dark .linkedin {
  background: url(./assets/linkedin-dark.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.App.dark .linkedin:hover {
  background: url(./assets/linkedin-yellow.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.linkedin {
  background: url(./assets/linkedin.svg) no-repeat;
  background-position: 50%;
  cursor: url(./assets/yellow-cursor.svg), default;
}

.linkedin:hover {
  background: url(./assets/linkedin-yellow.svg) no-repeat;
  background-position: 50%;
  opacity: 1;
}

.linkedin:hover,
.insta:hover,
.copy-link:hover {
  border: 2px solid var(--yellow);
}

@keyframes link-animation {
  0% {
    transform: translatey(100%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
